
@theme {
  --color-gray-900: #121214;
  --color-gray-800: #202024;
  --color-gray-700: #29292e;
  --color-gray-400: #7c7c8a;
  --color-gray-50: #ffffff;

  --color-green-700: #00875f;

  --color-team-green: #00b37e;
  --color-team-yellow: #c9a227;
  --color-team-blue: #7fb5e3;
  --color-team-purple: #8b5cf6;
  --color-team-orange: #f97316;
  --color-team-pink: #ec4899;
  --color-team-cyan: #06b6d4;
  --color-team-red: #ef4444;
}


@theme inline {
  --color-sunken: var(--color-gray-900); 
  --color-background: var(--color-gray-800); 
  --color-surface: var(--color-gray-700); 

  --color-content: var(--color-gray-50); 
  --color-content-muted: var(--color-gray-400); 

  --color-accent: var(--color-green-700);
  --color-on-accent: var(--color-gray-50); 
}
